    <div class="left-sidebar">
      <div class="card mb-3 text-center">
        <img class="mt-4 card-img-top mx-auto d-block profile-image img-thumbnail img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTR5CMSjVMdtlmD14L4dR1gX1R-RWZ-CXM0MywQkhQH2tANqOn7&usqp=CAU" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sunday Ajayi</h5>
          <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <ul class="nav flex-column nav-pills sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active active" >
            <!-- <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg> -->
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts']" routerLinkActive="router-link-active active" >
            <!-- <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg> -->
            Posts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/routePath']" routerLinkActive="router-link-active active" >
            <!-- <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg> -->
            Orders
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/routePath']" routerLinkActive="router-link-active active" >
            <!-- <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg> -->
            Invoices
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/routePath']" routerLinkActive="router-link-active active" >
            <!-- <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg> -->
            Reports
          </a>
        </li>
      </ul>
    </div>